<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard Page</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/navigation.css">
  </head>

  <body class="dashboard-page">

    {% include "navigation.html" %}

    <h1 id="dashTitle">{{ user_data.firstName}}'s Dashboard</h1>

    <div class="dashLayout">
      <section class="weatherForecast">
        <div class="findCityForm">
          <form id="findCity">
            <input type="text" id="cityInput" placeholder="Enter your city">
            <button type="submit" id="submitCity"> Go! </button>
          </form>
        </div>
      </section>

      <section class="dataCards">
        <div class="card" id="cityCard"> 
          <h2> City Weather</h2>
          <div class="cityInfoAnimation"></div>
          <div class="container-cityInfo">
            <span class="cityInfo"></span>
          </div>
        </div>
        <div class="card" id="tempCard">
          <h2>Temperature Graph</h2>
        </div>
        <div class="card" id="suggestCard"> 
          <h2>AI Suggestion</h2>
          <button id="ai_button">What should I wear today?</button>
          <div class="aiInfo" id="aiInfo"></div>
        </div>
      </section>
    </div>
    
  </body>
  <script src="/static/js/dashboard.js"></script>
</html>
