<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
  </head>
  <body>
    <div class="header">
      <h1 id="welcome-message">Welcome!</h1>
      <form class="logout-form" action="/logout" method="POST">
        <button class="logout-button" type="submit">Logout</button>
      </form>
    </div>
    <div id="profile-link-container">
      <a id="user-profile-link" href="#">Go to Profile</a>
    </div>

    <div id="weather-container">
      <form id="city_form">
        <label for="city">Enter your city:</label>
        <input type="text" id="city" required><br>
        <input type="submit">
      </form>

      <span class="info"></span>
    </div>

  </body>
  <script src="/static/js/dashboard.js"></script>
</html>
