<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard Page</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
  </head>

  <body>
    
    <h1 id="dashTitle"> Dashboard </h1>

    <div class="dashLayout">
      <section class="weatherForecast">
        <div class="findCityForm">
          <form id="findCity">
            <input type="text" id="cityInput" placeholder="Enter your city">
            <button type="submit" id="submitCity"> Go! </button>
          </form>
        </div>

        <div class="weatherCards">

        </div>
      </section>

      <section class="dataCards">
        <div class="card" id="cityCard"> 
          <span class="cityInfo"></span>
        </div>
        <div class="card" id="tempCard"> Temperature Graph </div>
        <div class="card" id="suggestCard"> 
          AI Suggestion 
          <button id="ai_button">What should I wear today?</button>
          <span class="aiInfo"></span>
        </div>
      </section>
    </div>


  </body>
  <script src="/static/js/dashboard.js"></script>
    <!-- <div class="header">
      <h1 id="welcome-message">Welcome!</h1>
      <form class="logout-form" action="/logout" method="POST">
        <button class="logout-button" type="submit">Logout</button>
      </form>
    </div>
    <div id="profile-link-container">
      <a id="user-profile-link" href="#">Go to Profile</a>
    </div>

    <div id="weather-container">
      <form id="city_form">
        <label for="city">Enter your city:</label>
        <input type="text" id="city" required><br>
        <input type="submit">
      </form>

      <span class="info"></span>
    </div>

  </body>
  <script src="/static/js/dashboard.js"></script> -->
</html>
