<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Profile Page </title>
    <link rel="stylesheet" href="/static/css/profile.css">

</head>

<body>
    <div class="profilePageContainer">
        <div class="profileInfoSide">
            <img src="../static/assets/profileIcon.png" alt="Profile Img" id="profileImg">
            <p id="userName"> {{ user_data.firstName }}  {{ user_data.lastName }}</p>
            <p id="userEmail"> Email: {{ user_data.email }}</p>
            <p id="userPassword"> Password: ******** </p>
        </div>
    
        <div class="deviceManagementSide">
            <h1 id="myDevices"> My Devices</h1>

            <div class="devicesList" id="devicesList">
                {% for device in devices %}
                <div class="deviceCard" id="deviceCard{{ device.id}}">
                    <p><strong>Device ID:</strong> {{ device.id }}</p>
                    <p><strong>Topic:</strong> {{ device.topic }}</p>
                    <p><strong>Status:</strong> {{ device.status }}</p>
                </div>
                {% endfor %}
            </div>

            <div class="buttonsContainer">
                <button id="addDevice"> Add Device  </button>
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        
                        <form id="deviceForm" method="POST">
                            <label for="deviceId">Device ID:</label>
                            <input type="text" id="deviceId" name="deviceId" placeholder="Enter device ID" required/>

                            <label for="deviceTopic">Device Topic:</label>
                            <input type="text" id="deviceTopic" name="deviceTopic" placeholder="Enter device topic" required />

                            <button type="submit">Add Device</button>
                        </form>
                    </div>
                </div>
                <button id="removeDevice"> Remove Device </button>
                <div id="removeModal" class="removeModal">
                    <div class="remove-modal-content">
                        <span class="removeClose">&times;</span>
                        
                        <div class="devicesList" id="devicesList">
                            {% for device in devices %}
                            <div class="deviceItem" id="{{ device.id }}">
                                <p style="color: blue;">Device ID: {{ device.id }} - Topic: {{ device.topic}}</p>
                                <button onclick="removeDevice('{{ device.id }}', '{{ user_data.email }}')">Remove</button>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="/static/js/profile.js"></script>
</body>
</html>
