<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>My Wardrobe</title>
  <link rel="stylesheet" href="/static/css/wardrobe.css" />
  <link rel="stylesheet" href="/static/css/navigation.css">
</head>

<body class="wardrobe-page">
  
  {% include "navigation.html" %}
  
  <h1>My Wardrobe</h1>

  <div class="wardrobeCard">
    <div class="crudButtonBar">
      <button onclick="filterClothingItem()" id="filterClothesButton">Filter</button>
      <button onclick="addClothingItem()" id="addClothingButton"> + Add</button>
      <button onclick="removeClothingItem()" id="removeClothingButton"> - Remove</button>
      <button onclick="updateClothingItem()" id="updateClothingButton">Update</button>
    </div>

    <div class="addClothingWindow" id="addWindow">
      <form action="#" class="addItemForm">
        <h2> Add Clothing Item</h2>
       
        <label for="clothingName"> Item Name: </label>
        <input type="text" id="clothingName" name="clothingName" required /> <br>

        <label for="itemSize"> Category: </label>
          <select id="itemCategory" name="itemCategory" required>
            <option value="tops"> tops </option>
            <option value="pants"> pants </option>
            <option value="shoes"> shoes </option>
          </select>
          <br>

        <label for="itemSize"> Size: </label>
          <select id="itemSize" name="itemSize" required>
            <option value="xx-small"> xx-small </option>
            <option value=" x-small"> x-small </option>
            <option value="small"> small </option>
            <option value="medium"> medium </option>
            <option value="large"> large </option>
            <option value="x-large"> x-large </option>
            <option value="xx-large"> xx-large </option>
          </select>
          <br>

          <button type="submit" id="addItemButton"> Add Item </button>
      </form>

      <button onclick="closeForm()" id="closeAdd"> X </button>
    </div>

    <div class="removeClothingWindow" id="removeWindow">
      <form action="#" class="removeItemForm">
        <h2> Remove Clothing Item</h2>
       
        <label for="clothingNameRemove" id="itemNameRemove"> Item Name: </label>
        <input type="text" id="clothingNameRemove" name="clothingNameRemove" required /> <br>

          <button type="submit" id="removeItemButton"> Remove Item </button>
      </form>

      <button onclick="closeForm()" id="closeRemove"> X </button>
    </div>

    <div class="updateClothingWindow" id="updateWindow">
      <form action="#" class="updateItemForm">
        <h2> Update Clothing Item</h2>
       
        <label for="currentItemName" id="currItemLabel"> Item Name: </label>
        <input type="text" id="currentItemName" name="currentItemName" required /> <br>

        <label for="newItemName"> New Item Name: </label>
        <input type="text" id="newItemName" name="newItemName" required /> <br>

          <button type="submit" id="updateItemButton"> Update Item </button>
      </form>

      <button onclick="closeForm()" id="closeUpdate"> X </button>
    </div>
    
    <div class="clothingDisplay" id="clothingDisplay">
      <!-- Clothing cards will be dynamically added here -->
    </div>
    
  </div>

  <script src="/static/js/wardrobe.js"></script>
</body>
</html>

